
/*******************************/
/* Header Section */
/*******************************/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdf2e9;
   /* Becouse want headeer sticky later */
    height: 9.4rem;
    padding: 0 4.8rem;
    position: relative;
}
.logo{
    height: 2.2rem;
}
.main-nav{

}
/*******************************/
/* NAV */
/*******************************/
.main-nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.2rem;
}
.main-nav-link:link
,.main-nav-link:visited{
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.3s;
}

.main-nav-link:hover
,.main-nav-link:active{
    color: #cf711f;
}

.main-nav-link.nav-cta:link
,.main-nav-link.nav-cta:visited{
    background-color: #e67e22;
    color: #fff;
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    transition: all 0.3s;
}
.main-nav-link.nav-cta:hover
,.main-nav-link.nav-cta:active{
    background-color: #cf711f;
   
}
.btn-mobile-nav{
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}
.icon-moblie-nav{
    width: 4.8rem;
    height: 4.8rem;
    color: #333;
}
.icon-moblie-nav[name="close-outline"]
{
    display: none;
}

/*******************************/
/* sticky nav*/
/*******************************/

.sticky .header{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255,255,255,0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.03);
}
.sticky .hero-section{
    margin-top: 9.6rem;
}
/*******************************/
/* Hero Section */
/*******************************/
.hero-section{
    padding: 4.8rem 0 9.6rem 0;
    background-color: #fdf2e9;
}
.hero{
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    padding: 0 3.2rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
}

.hero-summary{
    font-size: 2rem;
    margin-bottom: 4.8rem;
    line-height: 1.6;
}
.hero-img{
   width: 100%;
}
.deliverey-meals{
    display: flex;
    align-items: center;
    margin-top: 4.8rem;
}
.deliverey-img{
    border-radius: 50%;
    height: 4.8rem;
    box-shadow: 0 0 0 2px #fae5d3;
    margin-right: -1.6rem;
}

.deliverey-img:last-child{
    margin: 0;
}
.number-of-meal{
    margin-left: 3.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}
.number-of-meal span{   
    color: #cf711f;
    font-weight: 700;
    font-size: 1.8rem;
}

/*************************/
/* featured section*/
/************************/
.section-featured{
    padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in{
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 0.75px;
    margin-bottom: 2.4rem;
    text-align: center;

}
.logos{
    display: flex;
    justify-content: space-around;
}
.logos img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}
/*******************************/
/* section how it work */
/*******************************/
.section-how{
    padding: 9.6rem 0;
}


.step-number{
    font-size: 8.6rem;
    color: #ddd;
    margin-bottom: 1.2rem;
    font-weight: 600;
}


.step-description{
    font-size: 1.8rem;
    line-height: 1.8;
}
.step-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-img-box::before
,.step-img-box::after{
    display: block;
    content: " ";
    
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    /* to move the curcil behind the image use z-index:-1;*/
    z-index: -1;
}
.step-img-box::before{
    width: 60%;
    /* to get higet use a pading trick*/
    padding-bottom:60%;
    background-color: #fdf2e9;
}
.step-img-box::after{
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
}
.step-img-box img{
    width: 35%;
}


/*******************************/
/* Meals section */
/*******************************/
.meals-section{
    padding: 9.6rem 0;
}
.meal{
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
    border-radius: 11px;
    transition: all 0.3s;
}

.meal:hover{
    transform: translate(0,-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.06);
}
.meal-content{
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.img-meal{
    width: 100%;
}

.meal-tags{
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}
.tag{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.4rem 0.8rem;
    color: #333;
    border-radius: 100px;
}
.tag-vegetarin{
    background-color: #51cf66;
}
.tag-vegan
{
    background-color: #94d82d;
}
.tag-paleo{
    background-color: #ffd43b;
}
.meal-titel{
    font-size: 2.4rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 3.2rem;
}
.meal-attributes
,.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.8rem;
}
.meal-icon
,.list-icon
{
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}
.meal-attribute
,.list-item
{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    
}

.link:link
,.link:visited{
    display: inline-block;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}
.link:hover
,.link:active{
    color: #cf711f;
    border-bottom: 1px solid transparent;
}
/*******************************/
/* testimonials section  */
/*******************************/
.section-testimonials{
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    background-color: #fdf2e9;
}
.testimonials-container{
    padding: 9.6rem;

}
.testimonials{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 4.8rem;
    column-gap: 8rem;
}
.testimonial{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.img-testimonial{
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}
.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}
.testimonial-name{
    font-size: 1.6rem;
    color: #6f6f6f;
}
.gallrey{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
    padding: 1.8rem;
}
.gallrey-item{
    overflow: hidden;
}
.gallrey-img{
    display: block;
    width: 100%;
    transition: all 0.4s;
}
.gallrey-img:hover{
    transform: scale(1.2);
}
/*******************************/
/* priceing section  */
/*******************************/
.priceing-section{
    padding: 9.6rem 0;
}
.princing-plan--starter{
    justify-self: end;
    padding: 4.8rem;
    border: 2px solid #fdf2e9;
}
.princing-plan--complete{
    padding: 4.8rem;
    background-color: #fdf2e9;
    position: relative;
    overflow: hidden;
}
.princing-plan--complete::after{
    content: "best value";
    position: absolute;
    top: 6%;
    right: -18%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
}
.princing-plan{
    width: 75%;
    border-radius: 11px;
}
.header-plan{
    text-align: center;
    margin-bottom: 4.8rem;
}
.plan-name{
    font-size: 2rem;
    font-weight: 600;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}
.plan-price{
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}
.plan-price span{
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}
.plan-text{
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}
.plan-sing-up{
    text-align: center;
    margin-top: 4.8rem;
}

.plan-details{
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
}
.feature-icon{
    color: #e67e22;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #fdf2e9;
    border-radius: 50%;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
}
.feature-titel{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    color: #333;
}
.feature-text{
    font-size: 1.8rem;
    line-height: 1.8;
}
/*******************************/
/* cta section  */
/*******************************/
.cta-section{
    padding: 4.8rem 0 12.8rem;
}
.cta{
    display: grid;
    background-color: #e67e22;
    grid-template-columns: 2fr 1fr;
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.15);
    background-image: linear-gradient(to right bottom,#eb984e,#e67e22);
    overflow: hidden;
}
.cta-text-box{
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;;
}
.cta-text-box h2{
    color: inherit;
    margin-bottom: 3.2rem;
}
.cta-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}
.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}
.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.cta-form input 
,.cta-form select
{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 9px;
    background-color: #fdf2e9;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.cta-form input::placeholder{
    color: #aaa;
}
.btn.btn--form{
    background-color: #45260a;
    color: #fdf2e9;
    padding: 1.2rem;
    align-self: end;
}
.btn--form:hover{
    background-color:#fdf2e9;
    color: #45260a;
}
.cta-img-box{
    background-image: linear-gradient( to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35) ), url("../img/eating.jpg");
    background-size: cover;
    background-position: center;
}
.cta *:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
/*******************************/
/* footer section  */
/*******************************/
.footer{
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}
.grid--footer{
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

}
.logo-col{
    display: flex;
    flex-direction: column;
}
.footer-logo{
    display: block;
    margin-bottom: 3.2rem;
}
.logo{
    height: 2.2rem;
}
.footer-icons{
    display: flex;
    list-style: none;
    gap: 2.4rem;
}
.footer-link:link
,.footer-link:visited
{
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;   
}
.footer-link:hover
,.footer-link:active
{
    color: #333;
}
.social-icon{
    width: 2.4rem;
    height: 2.4rem;
}
.copy-right{
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.6rem;
    margin-top: auto;
}
.footer-heading{
    font-size: 1.8rem;
    font-weight:500;
    margin-bottom: 4rem;
}
.contacts{
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}
.address{
    margin-bottom: 2.4rem;
}
.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}